/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffffd1;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Table Styles */
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(127, 106, 106);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline;

  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 2px solid #000000;
  }
  
  table th {
    background-color: #4CAF50;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Form Styles */
  form {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form input, form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form button {
    width: 100%;
  }
  
  form button[type="button"] {
    background-color: #f44336;
  }
  
  form button[type="button"]:hover {
    background-color: #e53935;
  }
  
  .btn-ed {
    background-color: #45a049;
  }

  .btn-dlt {
    background-color: #f44336;
  }